<ul>
    <li><a routerLink="/alert" routerLinkActive="active">alert</a></li>
    <li><a routerLink="/table" routerLinkActive="active">table</a></li>
    <li><a routerLink="/ref-link" routerLinkActive="active">reflink</a><br></li>
    <li>  <a routerLink="/list-colour" routerLinkActive="active">list-colour</a><br></li>
    <li> <a routerLink="/list-unordered" routerLinkActive="active">list-unorderd</a><br></li>
    <li><a routerLink="/leap-year-checker" routerLinkActive="active">leap-year</a><br></li>
    <li> <a routerLink="/shopping" routerLinkActive="active">shopping</a><br></li>
</ul>
<router-outlet></router-outlet>
  

