<h2>Employee Details</h2>
<form [formGroup]="emp" (ngSubmit)="onClick()"> 
<label>First Name:</label>
<input type="text" formControlName="firstName">
<label>Last Name:</label>
<input type="text" formControlName="lastName"><br>

<label>Projects:</label>

<ng-select
  [items]="projects|filter:true"
  bindLabel="name"
  bindValue="name"
  formControlName="select"
  placeholder="Select name"
>
</ng-select>

<button type="submit" >Submit</button>
</form>

<div *ngIf="data">
<b>First Name:</b>{{data.firstName| uppercase}}<br>
<b>Last Name</b>{{data.lastName|uppercase}} 
<b>Project Name:</b>{{data.select}}
</div>
