
		ul{
			list-style-type:none;
		}
		li{
			width:300px;
			height:30px;
			padding:10px;
			text-align:center;
			font-size:25px;
		}
        li:nth-child(1){background-color: darkblue;}
        li:nth-child(3){background-color: pink;}
        li:nth-child(5){background-color: red;}
        li:nth-child(7){background-color: gray;}
        li:nth-child(9){background-color: blue;}
        li:nth-child(11){background-color: cadetblue;}



